@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

/* basic styling */
body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0px;
  padding: 0px;
}

section {
    padding-bottom: 3em;
}

h1 {
  font-family: 'Lora', serif;
  text-decoration: underline;
  text-align: center;
}

h3 {
    font-family: 'Lora', serif;
    text-align: center;
}

#about {
    text-align: center;
}

/* header styling */
header {
    height: 50em;
    background-image: linear-gradient(to left, #003d3d, #a7ffff);
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0em;
}

.hero-card {
    height: 50em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header a {
    text-decoration:none;
    color: black;
}

.hero-image {
    background-image: url("/img/julia_poster.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/* about styling */
.about-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content:center;
}

.about-card h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image, .about-image-left {
    height: 20em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/* featured projects grid */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    gap: 2em; /* Gap between grid items */
}

.project-card {
    padding: 2em;
    border: solid #449999 0.5rem;
}

.project-card img {
    width: 75%;
    height: 12rem;
    display: block;
    margin: auto;
    opacity: 50%;
}

.project-card:hover img {
    opacity: 100%;
}

/* technology flexbox */
.flex-container {
    display: flex;
    justify-content:center; /* center flexbox */
    align-items: center; /* Align items vertically at the center */
    gap: 3em;
    flex-wrap: wrap;
}

.technology-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.technology-item:hover img{
    transform: scale(1.2);
}

.technology-item > img, h3 {
    display: inline;
}

/* form styling */
form, .form-element {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.1em;
    display: flex;
    margin: auto;
    flex-direction: column;
}

.form-element {
    padding-bottom: 2em;
    text-align: center;
    width: 60%;
}

input, textarea {
    box-sizing: border-box;
    border: solid black 2px;
    border-radius: 4px;
}

input:focus, textarea:focus {
    background-color: #a7ffff;
}

textarea {
    resize: none;
}

label {
    text-align: center;
}

label::after {
    content: " *";
    color: #ffa7a7;
}

/* button styling */
button {
    transition-duration: 0.5s;
    padding: 0.8em 1.2em;
    border: #a7ffff solid 2px;
    background-color: white;
    font-size: 1.5em;
}

/* footer styling */
footer {
    text-align: center;
}

button:hover {
    border-color: white;
    background-color: #a7ffff;
}

.footer-item:hover img {
    transform: scale(1.2);
}

/* responsive media queries */
@media only screen and (max-width: 800px){
    header {
        background-image: linear-gradient(to top, #003d3d, #a7ffff);
    }

    .project-card img{
        width: 100%;
        padding: 0px;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }

    .form-element {
        width: 80%;
    }

    header {
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .hero-card {
        height: auto;
    }

    .hero-image{
        height: 30em;
    }
}